/*
General CSS 
For the background color: #A4B3C1
For primary: LightGray
Button hover color #3c3f41 
*/
body {
    background: white;
}

.InfoSection {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
}

#MyPictureInside {
    height: 100vw;
    width: auto;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Summary {
    flex: 3;
}

#Skills {
    display: block;
}

.ProjectImage {
    width: auto;
    height: 40vh;
    display: inline-block;
}

.projectImageContainer {
    white-space: nowrap;
    overflow-x: scroll;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}