body {
    background-color: white;
    color: black;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: white;
    border-bottom: solid #555 2px;
    box-shadow: 0 10px 10px -10px #555;
}

#Hamburger {
    display: inline-block;
    float: right;
    margin: 2vh 3vw 2vh 0vw;  
}

#HamburgerMenu button{
    padding-right: 5vw;
    padding-left: 5vw;
}

#HamburgerMenu Button:hover {
    background-color: rgb(252, 198, 98);
}

#NavHeader {
    display: inline-block;
    box-sizing: border-box;
    font-size: 4vh;
    margin: 2vh 2vw 2vh 2vw;
}

#NavButtonsBlock {
    display: none;
    text-align: center;
}

#NavButtonsBlock button {
    width: auto;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 3vh;
}

#NavButtonsBlock button:hover {
    background-color: rgb(252, 198, 98);
}

nav ul li {
    list-style: none;
}

.InfoSection {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.InfoSection h1 {
    font-size: 35px;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.InfoSection p {
    font-size: 20px;
}

.InfoSection article{
    background-color: orange;
    box-shadow: 0 10px 10px -10px #555;
    margin: 10px 10px 10px 10px;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
}

#MyPictureOutside {
    display: none;
    height: 25vh;
    width: auto;
    border-radius: 100px;
}

#MyPictureInside {
    height: 100vw;
    width: auto;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Summary {
    flex: 3;
}

#AboutMe {
    margin-top: 9vh;
}

#Skills {
    display: block;
}

.ProjectImage {
    width: 25vw;
    height: auto;
}

button {
    padding: 1vh 2vw 1vh 2vw;
    background-color: white;
    color: black;
    border-radius: 10%;
}

button:hover {
    background-color: aqua;
}

#ContactArticle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}