body {
    background-color: black;
    color: white;
}

#NavHeader {
    display: inline-block;
    box-sizing: border-box;
    padding: 0px 10px;
    flex: 1;
}

header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: black;
}

#NavButtons{
    text-align: right;
    margin-right: 10px;
    flex: 1;
}

#NavButtons button {
    padding: 1vh 1vw 1vh 1vw;
    margin-right: 1vw;
    background-color: orangered;
    color: white;
    font-weight: bold;
}

nav ul li {
    list-style: none;
    display: inline;
}

.InfoSection {
    padding: 10px 10px;
    border: 2px solid aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.InfoSection h1 {
    font-size: 35px;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.InfoSection p {
    font-size: 20px;
}

.InfoSection article{
    border: 2px dotted aquamarine;
    margin: 10px 10px 10px 10px;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
}

#MyPicture {
    height: 25vh;
    width: auto;
    border-radius: 100px;
}

#Summary {
    flex: 3;
}

#AboutMe {
    margin-top: 90px;
}

#SkillsTable, tr, th, td {
    font-size: 20px;
    border: 2px solid orangered;
    border-collapse: collapse;
    text-align: center;
    flex: 2;
}


#SkillsTable tr th{
    font-weight: bold;
    background-color: brown;
}

#SkillsTable {
    margin-left: 4vw;
}

.ProjectImage {
    width: 25vw;
    height: auto;
}