body {
    background-color: black;
    color: white;
}

#NavHeader {
    display: inline-block;
    box-sizing: border-box;
    padding: 0px 10px;
    flex: 1;
}

header {
    border: 2px solid aqua;
    display: flex;
    flex-direction: row;
}

#NavButtons{
    text-align: right;
    flex: 3;
}

nav ul li {
    list-style: none;
    display: inline;
}

.InfoSection {
    padding: 10px 10px;
    border: 2px solid aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.InfoSection h1 {
    font-size: 35px;
}

.InfoSection p {
    font-size: 20px;
}

.InfoSection article{
    border: 2px dotted aquamarine;
    border-radius: 15px;
}

#MyPicture {
    max-width: 250px;
    border-radius: 20%;
    flex: 1;
}

#Summary {
    flex: 3;
    padding: 10px 20px 10px 20px;
}

#SkillsTable, tr, th, td {
    font-size: 20px;
    border: 2px solid orangered;
    border-collapse: collapse;
    text-align: center;
    flex: 2;
}

#SkillsTable tr th{
    font-weight: bold;
    background-color: brown;
}