.InfoSection article {
    max-height: 70vh; /*This makes the project cards not get too long.*/
}

.InfoSection h1 {
    color: white;
}

.processCardContainer {
    display: flex;
    flex-wrap: wrap;
}

.processCardContainer article {
    flex: 1;
    overflow-y: scroll;
    min-width: 22vw;
    max-height: 50vh;
    width: auto;
}

.projectImageContainer {
    white-space: nowrap;
    overflow-x: scroll;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

.ProjectImage {
    height: 25vh;
    width: auto;
}