#backgroundAboutMe {
    background-image: url(../Media/PersonalImages/IMG_4676.JPG);
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    height: 60vh;
}

#Summary {
    display: block;
    width: 30vw;
    height: fit-content;
    float: left;
}

#WhoAmI {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

#Resume {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

iframe {
    width: 55vw;
    height: 80vh;
    border-radius: 15px;
}