/*
General CSS 
For the background color: #A4B3C1
For primary: LightGray
Button hover color #3c3f41 
*/
.projectTitle {
    padding-top: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    color: black;
    font-weight: bold;
    font-size: 5vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.InfoSection h1 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.InfoSection article p strong {
    text-align: center;
    display: block;
}