.InfoSection h1 {
    color: white;
}

.processCardContainer {
    display: flex;
    flex-wrap: wrap;
}

.processCardContainer article {
    flex: 1;
    min-width: 22vw;
    max-height: fit-content;
    width: auto;
}

.projectTitle {
    padding-top: 2vh;
    color: white;
    font-size: 5vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}